langchain
chromadb
faiss-cpu
watchdog
pypdf
python-docx
langchain_community
docx2txt
langchain-ollama
langchain-chroma
langchain-huggingface
fastapi
uvicorn[standard]
python-multipart
sentence-transformers
transformers
torch
python-dotenv